@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BODO';
  src: url('../../public/BodoniModa-VariableFont.ttf') format('truetype');
}
@font-face {
  font-family: 'POP';
  src: url('../../public/Poppins-Light.ttf') format('truetype');
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.initials {
  width: '100%';
  text-align: center;
  margin: 100;
}
